* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 98%;
    width: 100%;
    background-size: cover;
    font-family: sans-serif;
    background-color: #2C3E50;
    overflow: hidden;
    position: relative;
    color: white;
}

.inline {
    display: inline-block;
    margin: 0;
}

.profil-button{
    display: inline;
    margin: 20px;
    position: absolute;
    right: 0;
}

header {
    margin-bottom: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: solid;
    border-color: #ECF0F1;
    border-width: 1px;
}

header h1 {
    margin: 20px;
}

.right-section{
    flex: 75%;
    height: 100%;
}
.left-section{
    flex: 25%;
    height: 100%;
    border-right: solid;
    border-color: #ECF0F1;
    border-width: 1px;
    padding: 1%;
}
.main-section{
    width: 100%;
    display: flex;
    height: 85%;
}

.container {
    height: 100%;
    width: 100%;
}

.to-do-list-item {
    background-color: #E74C3C;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    width: 100%;
}
.to-do-add {
    background-color: #E74C3C;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    width: 100%;
}
.to-do-add * {
    display: inline-block;
}
.to-do-add-button {
    float: right;
    margin: 7px;
}
hr {
    margin-bottom: 5%;
    margin-top: 5%;
}