:root {
    --main-color: #FF6B35;
    --secondary-color: #3581B8;
    --dark-color: #17293B;
    --lighter-dark: #233D58;
    --even-lighter: #2F5075;
    --white-1: #F0F6FA;
    --white-2: #E0EDF5;
    --white-3: #D1E4F0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 98%;
    width: 100%;
    background-size: cover;
    font-family: sans-serif;
    background-color: var(--dark-color);
    position: relative;
    color: var(--white-2);
}

.inline {
    display: inline-block;
    margin: 0;
}

.profil-button{
    margin: 20px;
    position: absolute;
    right: 0;
}

header {
    margin-bottom: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: solid;
    border-color: var(--white-3);
    border-width: 1px;
}

header h1 {
    margin: 20px;
    margin-right: 75px;
}

.right-section{
    width: 100%;
    height: 100%;
}
.left-section{
    width: 25%;
    float: left;
    height: 100%;
    border-right: solid;
    border-color: var(--white-3);
    border-width: 1px;
    padding: 1%;
}
.main-section{
    width: 100%;
    display: flex;
    height: 85%;
}

.container {
    height: 100%;
    width: 100%;
}

.to-do-list-item {
    background-color: var(--lighter-dark);
    border-radius: 10px;
    margin: 3%;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    width: 94%;
    white-space: nowrap;
    overflow: hidden;
    /*shadow*/
}
.to-do-add {
    background-color: var(--lighter-dark);
    border-radius: 10px;
    margin: 3%;
    padding: 5%;
}
.to-do-add * {
    display: inline;
}
hr {
    margin-bottom: 5%;
    margin-top: 5%;
}
.next-event-item {
    background-color: var(--lighter-dark);
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    /*shadow*/
}
.calendar-select-item {
    border-radius: 20px;
    margin: 3%;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    /*shadow*/
}
.container-select-calendar {
    display: flex;
    align-content: flex-start;
    flex-wrap: nowrap;
    max-height: 100%;
    max-width: 100%;
}
.monthly-topbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.monthly-calendar {
    margin: 25px;
    border-radius: 20px;
    height: 100%;
    background-color: var(--lighter-dark);
    padding: 3%;
    /*shadow*/
}
.monthly-day-card {
    background-color: var(--even-lighter);
    margin: 10px;
    border-radius: 7px;
    height: 100%;
    padding: 10px;
}
.monthly-item {
    display: flex;
    flex-wrap: wrap;
}
.monthly-line {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: space-between;
}