:root {
    --main-color: #FF6B35;
    --darker-main: #D75628;
    --secondary-color: #3581B8;
    --darker-secondary: #2D6186;
    --dark-color: #1B2228;
    --lighter-dark: #292F33;
    --darker-dark: #111B22;
    --white-1: #F7FAFD;
    --white-2: #ECF2F9;
    --white-3: #DBE5F0;
    --border-color: #667885;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 98%;
    width: 100%;
    background-size: cover;
    font-family: sans-serif;
    background-color: var(--white-1);
    position: relative;
    color: var(--dark-color);
}
#root {
    width: 100%;
    height: 100%;
}
.inline {
    display: inline-block;
    margin: 0;
}

.profil-button{
    margin: 20px;
    position: absolute;
    right: 0;
}

header {
    margin-bottom: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: solid;
    border-color: var(--border-color);
    border-width: 1px;
}

header h1 {
    margin: 20px;
    margin-right: 75px;
}
.right-section{
    height: 100%;
}
.left-section{
    width: 20%;
    float: left;
    height: 100%;
    border-right: solid;
    border-color: var(--border-color);
    border-width: 1px;
}
.main-section{
    width: 88%;
    display: flex;
    height: 85%;
}
.left-section h2{
    padding-left: 5%;
    margin-bottom: 4%;
}

.container {
    height: 100%;
    width: 100%;
}
@keyframes todoApear {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}
@keyframes taskDel {
    0% {opacity: 100%;}
    100% {opacity: 0%;}
}
.to-do-list-item {
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    width: 94%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* animation: todoApear .5s 1; */
}
.to-do-list-item * {
    max-width: 100%;
}
.to-do-list-item:hover {
    background-color: var(--white-2);
}
.task-delete {
    animation: taskDel .5s 1;
}
.to-do-add {
    background-color: var(--white-3);
    border-radius: 10px;
    margin: 3%;
    padding: 5%;
}
.to-do-add * {
    display: inline;
}
#standard-basic {
    color: var(--white-2);
}
hr {
    margin-bottom: 5%;
    margin-top: 5%;
}
.next-event-item {
    padding: 5%;
}
.calendar-select-item {
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
}
.calendar-select-item:hover {
    background-color: var(--white-2);
}
.container-select-calendar {
    max-height: 100%;
    max-width: 100%;
}
.monthly-topbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.monthly-calendar {
    height: 100%;
}
.monthly-day-card {
    min-height: 100%;
    padding: 10px;
    width: 100%;
    border: solid;
    border-color: var(--border-color);
    border-width: 1px;
    border-collapse: collapse;
}
.monthly-item {
    display: flex;
    flex-wrap: wrap;
    min-height: 30%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.monthly-line {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: space-between;
}
.button-empty {
    background-color: rgba(0,0,0,0);
    border: none;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}
.button-full {
    padding: 12px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    transform: translateY(0);
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
}
.button-full:active {
    box-shadow: 0px 0px 15px var(--darker-secondary);
}
.button-full:hover {
    background-color: var(--darker-secondary);
}
@keyframes expandIconUp {
    0% {transform: rotate(180deg);}
    100% {transform: rotate(0deg);}
}
@keyframes expandIconDown {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(180deg);}
}
.expand-icon-down {
    animation: expandIconDown .5s 1;
    transform: rotate(180deg);
}
.expand-icon-up {
    animation: expandIconUp .5s 1;
    transform: rotate(0deg);
}
.login-container {
    text-align: center;
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10%;
}
.login-card {
    background-color: var(--lighter-dark);
    border-radius: 20px;
    padding: 2%;
    width: 25%;
}
.login-card * {
    margin-top: 4%;
    margin-bottom: 4%;
}
.login-head {
    min-height: 20%;
    min-width: 100%;
}
.input-contained {
    border: solid;
    border-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    border-width: 2px;
    background-color: var(--white-3);
    box-shadow: 0px 0px 10px 1px var(--secondary-color);
    outline: none;
}
.input-contained:hover {
    border-color: var(--main-color);
    box-shadow: 2px 2px 20px 3px var(--main-color);
}
.input-contained:active {
    border-color: var(--main-color);
}
@keyframes inputOpen {
    0% {border-color: var(--darker-dark);}
    100% {border-color: var(--secondary-color);}
}
.input-open {
    padding: 10px;
    width: 100%;
    border: none;
    border-bottom: solid;
    border-color: var(--darker-dark);
    border-width: 1px;
    background-color: rgba(0,0,0,0);
    outline: none;
    color: var(--white-2);
    font-size: medium;
}
.input-open:focus{
    border-color: var(--secondary-color);
    animation: inputOpen 1s 1;
}
.input-open:hover{
    border-width: 2px;
}
.login-btn-container {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 0%;
}
.login-btn-container div {
    width: 47%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.login-password {
    margin-bottom: 2%;
}
.login-submit .button-full {
    background-color: var(--main-color);
}
.login-submit .button-full:hover {
    background-color: var(--darker-main);
}