:root {
    --main-color: #FF6B35;
    --darker-main: #D75628;
    --secondary-color: #3581B8;
    --darker-secondary: #2D6186;
    --dark-color: #1B2228;
    --lighter-dark: #292F33;
    --darker-dark: #111B22;
    --white-1: #F7FAFD;
    --white-2: #ECF2F9;
    --white-3: #DBE5F0;
    --white-4: #C4CED9;
    --border-color: #667885;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 98%;
    width: 100%;
    background-size: cover;
    font-family: sans-serif;
    background-color: var(--white-4);
    position: relative;
    color: var(--dark-color);
}
#root {
    width: 100%;
    height: 100%;
}
.inline {
    display: inline-block;
    margin: 0;
}

.profil-button{
    margin: 20px;
    position: absolute;
    right: 0;
}

header {
    margin-bottom: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    position: relative;
    /*border-bottom: solid;*/
    border-color: var(--border-color);
    border-width: 1px;
    background-color: var(--white-1);
}

header h1 {
    margin: 20px;
    margin-right: 75px;
}
.right-section{
    height: 100%;
    flex-grow: 3;
    margin: 2vw;
    margin-top: 4vh;
    width: 60%;
}
.left-section{
    min-width: 20%;
    flex-grow: 1;
    height: 100%;
    font-size: 18px;
    margin: 2vw;
    margin-top: 4vh;
}
.main-section{
    display: flex;
    width: 100vw;
}
.left-section h2{
    margin-bottom: 4%;
    font-size: 18px;
    font-weight: 500;
}
.container {
    height: 100vh;
    width: 100vw;
}
@keyframes todoApear {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}
@keyframes taskDel {
    0% {opacity: 100%;}
    100% {opacity: 0%;}
}
.to-do-list {
    background-color: var(--white-1);
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 5%;
    border-radius: 15px;
}.to-do-list h2 {
    margin-bottom: 5%;
}
.to-do-list-item {
    width: 94%;
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 3%;
    border-radius: 10px;
    /* animation: todoApear .5s 1; */
}
.to-do-list-item p {
    font-size: 14px;
    font-weight: 400;
}
.to-do-list-item * {
    max-width: 100%;
}
.to-do-list-item:hover {
    background-color: var(--white-3);
}
.task-delete {
    animation: taskDel .5s 1;
}
.to-do-add {
    background-color: var(--white-3);
    border-radius: 10px;
    margin: 3%;
    padding: 5%;
}
.to-do-add * {
    display: inline;
}
#standard-basic {
    color: var(--white-2);
}
.calendar-select {
    background-color: var(--white-1);
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 5%;
    border-radius: 15px;
}
.calendar-select-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 10px;
}
.calendar-select-item p {
    font-size: 14px;
    font-weight: 400;
}
.calendar-select-item:hover {
    background-color: var(--white-3);
}
.container-select-calendar {
    max-height: 100%;
    max-width: 100%;
}
.monthly-topbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2vh;
}
.monthly-topbar .button-full, .plus-add{
    color: var(--white-1);
    font-size: 18px;
}
.monthly-top-button {
    margin-top: 1vh;
}
.plus-add {
    margin-right: 1vw;
}
.monthly-nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    background-color: var(--white-1);
    border-radius: 15px;
    width: fit-content;
}
.monthly-nav h2 {
    margin-right: 3vw;
    font-weight: 500;
}
.monthly-nav * {
    font-size: 28px;
}
.monthly-next {
    margin-left: 1vw;
}
.monthly-calendar {
    height: 100%;
    background-color: var(--white-1);
    margin-bottom: 4vh;
    border-radius: 15px;
    padding: 5%;
    padding-top: 2vh;
}
.monthly-actual {
    border: solid;
    border-color: var(--border-color);
    border-width: 1px;
}
.monthly-day-card {
    width: 100%;
    height: 100%;
    border: solid;
    border-color: var(--border-color);
    border-width: 1px;
    padding-bottom: .8%; 
}
.monthly-number{
    border-radius: 100%;
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.monthly-day-card:hover{
    background-color: #3581b82a;
}
.monthly-number-container {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    margin: 5px;
}
.monthly-item {
    display: flex;
    flex-wrap: wrap;
    min-height: 30%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    margin: 2px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1px;
}
@keyframes monthlyHover {
    0% {transform: translateX(0);}
    50% {transform: translateX(8px);}
    100% {transform: translateX(10px);}
}
.monthly-item:hover{
    animation: monthlyHover .2s 1;
    transform: translateX(10px);
}
.monthly-line {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: space-between;
}
.button-empty {
    background-color: rgba(0,0,0,0);
    border: none;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}
.button-full {
    padding: 12px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    transform: translateY(0);
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
}
.button-full:active {
    box-shadow: 0px 0px 15px var(--darker-secondary);
}
.button-full:hover {
    background-color: var(--darker-secondary);
}
@keyframes expandIconUp {
    0% {transform: rotate(180deg);}
    100% {transform: rotate(0deg);}
}
@keyframes expandIconDown {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(180deg);}
}
.expand-icon-down {
    animation: expandIconDown .5s 1;
    transform: rotate(180deg);
}
.expand-icon-up {
    animation: expandIconUp .5s 1;
    transform: rotate(0deg);
}
.login-container {
    text-align: center;
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10%;
}
.login-card {
    background-color: var(--lighter-dark);
    border-radius: 20px;
    padding: 2%;
    width: 25%;
}
.login-card * {
    margin-top: 4%;
    margin-bottom: 4%;
}
.login-head {
    min-height: 20%;
    min-width: 100%;
}
.input-contained {
    border: solid;
    border-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    border-width: 2px;
    background-color: var(--white-3);
    box-shadow: 0px 0px 10px 1px var(--secondary-color);
    outline: none;
}
.input-contained:hover {
    border-color: var(--main-color);
    box-shadow: 2px 2px 20px 3px var(--main-color);
}
.input-contained:active {
    border-color: var(--main-color);
}
@keyframes inputOpen {
    0% {border-color: var(--darker-dark);}
    100% {border-color: var(--secondary-color);}
}
.input-open {
    padding: 10px;
    width: 100%;
    border: none;
    border-bottom: solid;
    border-color: var(--darker-dark);
    border-width: 1px;
    background-color: rgba(0,0,0,0);
    outline: none;
    color: var(--white-2);
    font-size: medium;
}
.input-open:focus{
    border-color: var(--secondary-color);
    animation: inputOpen 1s 1;
}
.input-open:hover{
    border-width: 2px;
}
.login-btn-container {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 0%;
}
.login-btn-container div {
    width: 47%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.login-password {
    margin-bottom: 2%;
}
.login-submit .button-full {
    background-color: var(--main-color);
}
.login-submit .button-full:hover {
    background-color: var(--darker-main);
}
.mini-calendar {
    background-color: var(--white-1);
    margin-bottom: 4vh;
    padding: 5%;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.mini-line {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}
.mini-jour {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 5px;
    border-radius: 100%;
    text-align: center;
    width: 12%;
    height: 13%;
}
.mini-jour * {
    text-align: center;
}
.mini-jour:hover {
    background-color: #3581b825;
}
.mini-selected {
    background-color: #3581b873;
}
.mini-selected:hover{
    background-color: #3581b873;
}
.mini-top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.mini-nav {
    display: flex;
    flex-wrap: nowrap;
}
.mini-nav-prev {
    margin-right: 1vw;
}
.event-detail {
    background-color: var(--dark-color);
    color: var(--white-2);
    border-radius: 30px;
    position: fixed;
    top: 20%;
    left: 35%;
    width: 30%;
    padding: 2%;
}
.detail-first-line {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 7%;
}
.detail-line {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 3%;
}
.detail-icon {
    margin-right: 5%;
}
.detail-container {
    background-color: #1b22282a;
    width: 100%;
    height: 100%;
    position: fixed;
}